body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    background-color: lavenderblush;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: inline-block;
    text-align: left;
}

ol {
    display: inline-block;
    text-align: left;
}

.block {
    box-sizing: border-box;
    width: 640px;
    margin: 2px auto;
    display: block;
    padding: 5px;
    border: 2px solid black;
}

.eu {
    background-color: violet;
}

.us {
    background-color: goldenrod;
}

.hu {
    background-color: rgb(202, 29, 29);
}